    .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .heroes {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 15em;
    }
    .heroes li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #EEE;
      margin: .5em;
      padding: .3em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .heroes li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .heroes li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .heroes .text {
      position: relative;
      top: -3px;
    }
    .heroes .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      background-color: #607D8B;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }

html,
body {
  font-family: Arial, Helvetica, sans-serif;font-size: 30;
}
.S2i {
  position: relative;
  color: #58595b;
  background-color: #ffffff;
}
.S2i .Offscreen-Text {
  position: absolute;
  width: 100px;
  left: -9999px;
  font-size: xx-small;
}
.S2i h1,
.S2i h2,
.S2i h3,
.S2i h4,
.S2i h5,
.S2i h6 {
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #003359;
  background-color: transparent;
}
.S2i h1:hover,
.S2i h2:hover,
.S2i h3:hover,
.S2i h4:hover,
.S2i h5:hover,
.S2i h6:hover,
.S2i h1:focus,
.S2i h2:focus,
.S2i h3:focus,
.S2i h4:focus,
.S2i h5:focus,
.S2i h6:focus {
  color: #003359;
}
.S2i h1:visited,
.S2i h2:visited,
.S2i h3:visited,
.S2i h4:visited,
.S2i h5:visited,
.S2i h6:visited {
  color: #58595b;
}
.S2i h1 a,
.S2i h2 a,
.S2i h3 a,
.S2i h4 a,
.S2i h5 a,
.S2i h6 a {
  font-size: inherit;
}
.S2i h1,
.S2i h2,
.S2i h3 {
  font-weight: normal;
}
.S2i h1 {
  font-size: 1.7em;
}
.S2i h2 {
  font-size: 1.6em;
}
.S2i h3 {
  font-size: 1.5em;
}
.S2i h4 {
  font-size: 1.4em;
}
.S2i h5 {
  font-size: 1.3em;
}
.S2i h6 {
  font-size: 1.2em;
}
.S2i a {
  color: #003359;
  background-color: transparent;
  font-size: 1.1em;
  text-decoration: underline;
}
.S2i a:hover,
.S2i a:focus {
  color: #003359;
}
.S2i a:visited {
  color: #58595b;
}
.S2i a.Cancel {
  color: #7c2128;
}
.S2i a.Help {
  text-indent: -9999px;
  background: transparent url('../../images/s2i.help.gif') no-repeat scroll center center;
  display: inline-block;
  height: 44px;
  width: 44px;
  vertical-align: middle;
}
.S2i a[target=_blank] {
  background: transparent url('../../images/external-small.gif') no-repeat scroll right center;
  padding-right: 17px;
}
.S2i .Header {
  position: relative;
  z-index: 10;
}
.S2i .Header .SO {
  color: #ffffff;
  background-color: #0b713d;
}
.S2i .Header .SO a {
  background: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
.S2i .Header .SkipToNav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6em;
  padding-right: 0.375em;
}
.S2i .Header .SkipToNav ul {
  text-align: right;
}
.S2i .Header .SkipToNav a {
  color: #0b713d;
  background-color: #0b713d;
}
.S2i .Header .SkipToNav a:hover,
.S2i .Header .SkipToNav a:focus {
  color: white;
}
.S2i .Header .Menu {
  display: none;
}
.S2i .Header .Title {
  color: #58595b;
  background-color: #edebe9;
  padding: 0.375em;
}
.S2i .Header .CartLink {
  display: inline-block;
  position: absolute;
  right: 0;
}
.S2i .Header .InnerWidth {
  /*  .logoLeft
            {
                float:right; 
                padding-right: 0.32em;
            
             img
                {
                    width:165px;
                    height: 35px;
    
               }
            
            }
            .logoRight
            {
                float:right; 
                padding-left: 0.32em;
                
                img
                {
                    width:104px;
                    height: 22px;
                    
                }
                
            }
            */
}
.S2i .Text {
  text-align: center;
  display: block;
  padding: 0.375em;
  margin-top: 1.5em;
}
.S2i .Footer {
  position: relative;
  padding-top: 0.375em;
}
.S2i .Footer .Menu {
  color: #58595b;
  background-color: #edebe9;
  text-align: center;
  /*
      border: 2px solid @colorFooter-Text;
      border-left: none;
      border-right: none;
      */
  padding: 0.375em;
}
.S2i .Footer .Menu a {
  background-color: transparent;
}
.S2i .Footer .Menu ul {
  overflow: auto;
}
.S2i .Footer .Menu li {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0.375em;
  vertical-align: middle;
}
.S2i .ShoppingCart {
  text-align: right;
  padding: 0.375em;
  line-height: 1.7;
  display: inline;
}
.S2i .Errors {
  color: #7c2128;
  background-color: #f3f1f0;
  border: 2px solid #7c2128;
  padding: 0.75em;
  margin-top: 0.375em;
}
.S2i .Errors:empty {
  display: none !important;
}
.S2i .Errors a {
  font: inherit;
}
.S2i .Instructions {
  margin: 0.75em;
}
.S2i button,
.S2i input[type=button] {
  border: none;
  /*
    -webkit-border-radius: @paddingRoot;
    -moz-border-radius: @paddingRoot;
    border-radius: @paddingRoot;
    box-shadow: @textFactor * 2 @textFactor * 2 @textFactor * 2 @colorShadow;
    */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 4px #999;
  font-size: 1.1em;
  padding: 0.375em;
  min-width: 44px;
  min-height: 44px;
}
.S2i button:hover,
.S2i input[type=button]:hover,
.S2i button:focus,
.S2i input[type=button]:focus {
  text-decoration: underline;
}
.S2i button.Primary,
.S2i input[type=button].Primary {
  color: #ffffff;
  background-color: #003359;
}
.S2i button.Primary:hover,
.S2i input[type=button].Primary:hover,
.S2i button.Primary:focus,
.S2i input[type=button].Primary:focus {
  background-color: #004070;
}
.S2i button.Secondary,
.S2i input[type=button].Secondary {
  color: #58595b;
  background-color: #dddddd;
}
.S2i button.Secondary:hover,
.S2i input[type=button].Secondary:hover,
.S2i button.Secondary:focus,
.S2i input[type=button].Secondary:focus {
  background-color: #dddddd;
}
.S2i button.Warning,
.S2i input[type=button].Warning {
  color: #ffffff;
  background-color: #7c2128;
}
.S2i button.Warning:hover,
.S2i input[type=button].Warning:hover,
.S2i button.Warning:focus,
.S2i input[type=button].Warning:focus {
  background-color: #a43737;
}
.S2i .Section {
  margin: 0.75em;
}
.S2i .Section .Title {
  background-image: url('../../images/collapse.gif');
  background-position: right top;
  background-repeat: no-repeat;
  min-height: 45px;
  position: relative;
}
.S2i .Section .Title a {
  line-height: 1;
  text-decoration: none;
  display: block;
  position: absolute;
  padding-right: 45px;
  top: 20%;
}
.S2i .Section .Title a:hover,
.S2i .Section .Title afocus {
  text-decoration: underline;
}
.S2i .Section .Detail {
  text-align: left;
  position: relative;
  padding: 0.375em;
  padding-bottom: 1.125em;
}
.S2i .Section .Detail .Instruction {
  padding-bottom: 0.375em;
}
.S2i .Section .Detail .Instruction:not(:first-child) {
  padding-top: 0.375em;
}
.S2i .Section .Detail .OrLabel {
  display: inline-block;
  width: 30%;
  margin: 0.375em;
  padding-left: 0.375em;
  text-align: right;
}
.S2i .Section .Detail .Field {
  position: relative;
  margin-bottom: 0.375em;
}
.S2i .Section .Detail .Field.Right {
  text-align: right;
}
.S2i .Section .Detail .Field.Center {
  text-align: center;
}
.S2i .Section .Detail .Field.Center button {
  margin-bottom: 0.375em;
}
.S2i .Section .Detail .Field.Center .Error {
  margin-left: 0;
  padding-left: 0.75em;
}
.S2i .Section .Detail .Field .InputSet {
  display: block;
  margin: 0;
  padding: 0;
}
.S2i .Section .Detail .Field .InputSet input {
  display: inline-block;
}
.S2i .Section .Detail .Field .InputSet .Label {
  display: inline-block;
}
.S2i .Section .Detail .Field .InputSet .Error {
  white-space: normal;
}
.S2i .Section .Detail .Field .InputSet .InputSet {
  max-width: 100%;
  margin-left: 1.875em;
  display: block;
}
.S2i .Section .Detail .Field.Left label.Radio,
.S2i .Section .Detail .Field.Left label.Checkbox {
  padding-left: 0.375em;
  margin-left: 0;
  max-width: 100%;
}
.S2i .Section .Detail .Field.Left label .Label {
  vertical-align: top;
  max-width: 99%;
}
.S2i .Section .Detail .Field.Left .Error {
  margin-left: 0.5625em;
  padding-left: 0;
  max-width: 99%;
  width: auto;
}
.S2i .Section .Detail .Field label,
.S2i .Section .Detail .Field div.Label {
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-right: 0.375em;
  vertical-align: middle;
}
.S2i .Section .Detail .Field label.Radio,
.S2i .Section .Detail .Field div.Label.Radio,
.S2i .Section .Detail .Field label.Checkbox,
.S2i .Section .Detail .Field div.Label.Checkbox {
  text-align: left;
  width: auto;
  margin: 0.375em;
  padding-left: 0.375em;
  margin-left: 30%;
}
.S2i .Section .Detail .Field label.Radio input,
.S2i .Section .Detail .Field div.Label.Radio input,
.S2i .Section .Detail .Field label.Checkbox input,
.S2i .Section .Detail .Field div.Label.Checkbox input {
  vertical-align: middle;
  margin-right: 0.375em;
}
.S2i .Section .Detail .Field label.Radio input[type=checkbox],
.S2i .Section .Detail .Field div.Label.Radio input[type=checkbox],
.S2i .Section .Detail .Field label.Checkbox input[type=checkbox],
.S2i .Section .Detail .Field div.Label.Checkbox input[type=checkbox] {
  margin-left: -1.5em;
}
.S2i .Section .Detail .Field label .Label,
.S2i .Section .Detail .Field div.Label .Label {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
.S2i .Section .Detail .Field input[type=text],
.S2i .Section .Detail .Field input[type=tel],
.S2i .Section .Detail .Field input[type=email],
.S2i .Section .Detail .Field input[type=date],
.S2i .Section .Detail .Field input[type=number],
.S2i .Section .Detail .Field select {
  display: inline-block;
  width: 40%;
  padding: 0.375em;
  margin-bottom: 0.375em;
  line-height: 1;
  font-size: 1.1em;
  border: 1px solid #58595b;
}
.S2i .Section .Detail .Field input[type=text].Small,
.S2i .Section .Detail .Field input[type=tel].Small,
.S2i .Section .Detail .Field input[type=email].Small,
.S2i .Section .Detail .Field input[type=date].Small,
.S2i .Section .Detail .Field input[type=number].Small,
.S2i .Section .Detail .Field select.Small {
  width: 15%;
}
.S2i .Section .Detail .Field input[type=date] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
.S2i .Section .Detail .Field select {
  width: 42%;
}
.S2i .Section .Detail .Field input[type=radio],
.S2i .Section .Detail .Field input[type=checkbox] {
  border: none;
  min-width: 0;
  display: inline;
}
.S2i .Section .Detail .Field .Error {
  margin-left: 30%;
  padding-left: 0.375em;
  padding-right: 0.375em;
  min-width: 40%;
}
.S2i .Section .Detail .Field .Error:empty {
  display: none;
}
.S2i .Section .Detail .Field.DLR .Error,
.S2i .Section .Detail .Field.Search .Error {
  width: 53%;
}
.S2i .Section .Detail .Note {
  border: 2px solid #003359;
  padding: 0.375em;
  margin-bottom: 0.375em;
  margin-top: 1.5em;
}
.S2i .Section .Detail .Data {
  display: block;
  margin-left: 30%;
  padding: 0.75em;
}
.S2i .Section .Detail .Data .Label {
  display: inline-block;
  width: 20%;
}
.S2i .Section .Detail .Data .OrLabel {
  margin-left: -30%;
  margin-top: 0;
  margin-bottom: 0;
}
.S2i .Section .Detail .OptInformation {
  display: none;
}
.S2i .Section .Detail .OptInformation p {
  margin-top: 0.375em;
}
.S2i .Section ul,
.S2i .Section ol {
  list-style-position: outside;
}
.S2i .Section ul {
  list-style: disc;
  margin-left: 1em;
}
.S2i .Section ul > li > ul {
  list-style: circle;
}
.S2i .Section ul > li > ul > li > ul {
  list-style: square;
}
.S2i .Section ol {
  list-style: decimal;
  margin-left: 1.4em;
}
.S2i .Section.Close .Title {
  background-image: url('../../images/expand.gif');
}
.S2i .Section.Close .Detail {
  display: none;
}
.S2i .Section .CollapseList {
  list-style: none;
  margin-left: 0;
}
.S2i .Section .Collapsable {
  display: block;
}
.S2i .Section .Collapsable .Detail {
  margin: 0;
}
.S2i .Section .Collapsable.Close .Detail {
  display: none;
}
.S2i .Section .Collapsable.Close .Title {
  background-image: url('../../images/expand.gif');
}
.S2i .Section .Collapsable .Title {
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 44px;
  background-image: url('../../images/collapse.gif');
  background-position: right top;
  background-repeat: no-repeat;
}
.S2i .Navigation {
  margin: 0.75em;
  margin-bottom: 1.125em;
  position: relative;
  min-height: 44px;
}
.S2i .Navigation a {
  color: inherit;
}
.S2i .Navigation .Cancel,
.S2i .Navigation .Other,
.S2i .Navigation .Submit {
  vertical-align: middle;
  padding: 0.375em 0;
  display: inline-block;
}
.S2i .Navigation .Cancel {
  width: 30%;
  color: #7c2128;
}
.S2i .Navigation .Other {
  text-align: center;
  color: #003359;
}
.S2i .Navigation .Submit {
  width: 40%;
  position: absolute;
  right: 0;
  text-align: right;
}
.S2i .Navigation .Buttons {
  min-height: 30px;
}
.S2i .Lightbox {
  z-index: 50;
  display: none;
}
.S2i .Lightbox.Background {
  z-index: 49;
  position: fixed;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  width: 100%;
  background-color: #58595b;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.S2i .Lightbox.Section {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.S2i .Lightbox.Section .Inside {
  background-color: #ffffff;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-border-bottom-right-radius: 0.75em;
  -moz-border-radius-bottomright: 0.75em;
  border-bottom-right-radius: 0.75em;
  -webkit-border-bottom-left-radius: 0.75em;
  -moz-border-radius-bottomleft: 0.75em;
  border-bottom-left-radius: 0.75em;
  border: #003359 2px solid;
  border-top: none;
}
.S2i .Lightbox.Section .Inside .Title {
  padding: 0.375em;
  background: none;
  background-color: #edebe9;
}
.S2i .Lightbox.Section .Inside .Close {
  background: #edebe9 url('../../images/s2i.close.gif') no-repeat scroll center center;
  text-indent: -9999px;
  border: none;
  padding: 0;
  margin: 0.09375em;
  position: absolute;
  right: 0.09375em;
  top: 0.09375em;
  width: 44px;
  height: 44px;
}
.S2i .Lightbox.Section .Inside .Detail {
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  right: 0.375em;
  bottom: 0.375em;
  padding: 0.375em;
  margin: 0.375em;
  overflow: auto;
}
.S2i .Lightbox.Busy .Close {
  display: none;
}
.S2i .ListPage .Section .Title {
  font-size: 1em;
  font-weight: normal;
  background: none;
  min-height: initial;
  position: initial;
  padding-right: initial;
}
.S2i .ListPage .Section .Title a {
  padding-right: initial;
  text-decoration: underline;
  line-height: normal;
  min-height: initial;
  position: initial;
}
.S2i .ListPage .Section .Detail {
  padding: 0;
}
.S2i .InfoPage .Section {
  margin: 0;
  margin-bottom: 0.75em;
  border: 0.375em solid #f3f1f0;
  padding: 0.375em;
}
.S2i .InfoPage .Section .Detail {
  padding: 0;
  padding-bottom: 0.375em;
}
.S2i .InfoPage .Section .Detail p,
.S2i .InfoPage .Section .Detail ul,
.S2i .InfoPage .Section .Detail ol {
  padding: 0.375em 0;
}
.S2i .FormPage .Section {
  padding-right: 75px;
}
.S2i .FormPage .Section .Error {
  display: none;
  color: #7c2128;
  background-color: #f3f1f0;
}
.S2i .FormPage .Section .Detail {
  text-align: left;
  margin: 0.375em;
  margin-left: 1.5em;
}
.S2i .FormPage .Section .Detail fieldset {
  display: inline-block;
}
.S2i .FormPage .Section .Detail .Field {
  position: relative;
}
.S2i .FormPage .Section .Detail .Help {
  position: absolute;
  top: 50%;
  padding-left: 0.375em;
  margin-top: -22px;
}
.S2i .FormPage .Section .Detail .Note {
  margin-right: -60px;
}
.S2i .FormPage .Section.Valid {
  background: #ecf8fa url('../../images/s2i.valid-large.gif') no-repeat scroll right top;
}
.S2i .FormPage .Section.Valid .Field.Right {
  margin-right: -65px;
}
.S2i .FormPage .Section.Invalid {
  background: #f3f1f0 url('../../images/s2i.error-large.gif') no-repeat scroll right top;
}
.S2i .FormPage .Section.Invalid .Error {
  display: inline-block;
  padding-bottom: 0.375em;
}
.S2i .FormPage .Section.Invalid .Field.Right {
  margin-right: -65px;
}
.S2i .FormPage .Section.Invalid .Help {
  margin-top: -1.2em;
}
.S2i .SummaryPage .Section {
  padding: 0.1875em;
  margin: 0;
  margin-bottom: 0.375em;
  border: 0.375em solid #f3f1f0;
}
.S2i .SummaryPage .Section.OrderTotal {
  border: none;
}
.S2i .SummaryPage .Section.OrderTotal .Detail {
  font-weight: bold;
  text-align: right;
  border: none;
}
.S2i .SummaryPage .Section .Instruction {
  padding-bottom: 0;
}
.S2i .SummaryPage .Section .Data {
  margin-left: 0;
  padding: 0;
}
.S2i .SummaryPage .Section .Data .UpdateData {
  margin-left: 0.375em;
}
.S2i .SummaryPage .Section .Field {
  margin-left: 0;
  padding: 0.375em;
  padding-left: 0;
}
.S2i .SummaryPage .Section .Field a {
  font-size: inherit;
  padding-right: 3.75em;
}
.S2i .SummaryPage .Section .Detail {
  padding-bottom: 0;
  border-bottom: 1px solid #58595b;
}
.S2i .SummaryPage .Section .AddAnother {
  text-align: center;
  padding: 0.375em;
  border: none;
}
.S2i .SummaryPage .Section .AddAnother button,
.S2i .SummaryPage .Section .AddAnother input[type=button] {
  width: 50%;
}
.S2i .SummaryPage.FormPage .Section .Detail {
  border-bottom: none;
}
.S2i .SummaryPage .BorderSection .Section .Detail .Data .Value {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  word-break: break-all;
}
.S2i .DownloadPage .Section .Title {
  font-weight: bold;
  font-size: 1em;
  color: #58595b;
  background: none;
}
.S2i .DownloadPage .Section .Title a {
  background: none;
  padding-right: 0;
  color: inherit;
}
.S2i .DownloadPage .Section.Download {
  padding-right: 0.375em;
}
.S2i .DownloadPage .Section.Download ol {
  margin-left: 3.375em;
}
.S2i .DownloadPage .Section.Download .Detail .Field button,
.S2i .DownloadPage .Section.Download .Detail .Field input[type=button] {
  margin-right: 1.5em;
}
.S2i .DownloadPage .Section.Download .Detail .Field button:last-of-type,
.S2i .DownloadPage .Section.Download .Detail .Field input[type=button]:last-of-type {
  margin-right: 0;
}
.S2i .DownloadPage .Section.Download .Detail .Field .Error {
  display: inline;
  color: #7c2128;
  background-color: #f3f1f0;
  background-color: transparent;
}
.S2i .DownloadPage .Section.Download .Detail .Field button {
  margin-bottom: 0.375em;
}
.S2i .DownloadPage .Section.Download .Detail .Note {
  margin: 0;
  margin-bottom: 1.5em;
}
.S2i .DownloadPage .Navigation .Buttons {
  text-align: right;
}
.S2i .DownloadPage .Navigation .Buttons .Submit {
  position: initial;
}
.S2i .ReceiptPage .Section .Title {
  font-weight: bold;
  font-size: 1em;
  color: #58595b;
  background: none;
}
.S2i .ReceiptPage .Section .Title a {
  background: none;
  padding-right: 0;
  color: inherit;
}
.S2i .ReceiptPage .Section .Detail {
  padding: 0;
  padding-bottom: 0.75em;
}
.S2i .ReceiptPage .Section .Detail .Error {
  color: #7c2128;
  background-color: #f3f1f0;
  background-color: transparent;
}
.S2i .ReceiptPage .Section .Detail button {
  margin-bottom: 0.375em;
}
.S2i .ReceiptPage .Section .InfoTable table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}
.S2i .ReceiptPage .Section .InfoTable th {
  font-weight: bold;
  text-align: left;
}
.S2i .ReceiptPage .Section .InfoTable thead th[id="refNum"] {
  width: 15%;
}
.S2i .ReceiptPage .Section .InfoTable thead th[id="notes"] {
  width: 12%;
}
.S2i .ReceiptPage .Section .InfoTable thead th[id="notes"] span {
  font-size: 0.75em;
}
.S2i .ReceiptPage .Section .InfoTable thead th[id="amount"] {
  text-align: right;
  width: 10%;
}
.S2i .ReceiptPage .Section .InfoTable td {
  padding: 0.1875em;
}
.S2i .ReceiptPage .Section .InfoTable td[headers~="amount"] {
  text-align: right;
}
.S2i .ReceiptPage .Section .InfoTable td[headers~="notes"] ul {
  list-style: none;
  margin: 0;
}
.S2i .ReceiptPage .Section .InfoTable td[headers~="notes"] li {
  display: inline-block;
  padding-right: 0.375em;
}
.S2i .ReceiptPage .Section .InfoTable tbody tr {
  line-height: 1.3;
}
.S2i .ReceiptPage .Section .InfoTable tbody tr:nth-child(2n) {
  background-color: #f3f1f0;
}
.S2i .ReceiptPage .Section .TotalsTable {
  padding-top: 0;
  text-align: right;
}
.S2i .ReceiptPage .Section .TotalsTable .InfoTableMsg {
  display: inline-block;
  padding: 0.375em;
  width: 45%;
  vertical-align: top;
  font-style: italic;
  font-size: 0.75em;
  float: left;
}
.S2i .ReceiptPage .Section .TotalsTable table {
  display: inline-table;
  width: 50%;
  /*
          position: absolute;
          right: 0;
          float: right;
          */
}
.S2i .ReceiptPage .Section .TotalsTable table tr {
  line-height: 1.3;
}
.S2i .ReceiptPage .Section .TotalsTable table th {
  font-weight: normal;
}
.S2i .ReceiptPage .Section .TotalsTable table th[id="total"] {
  font-weight: bold;
}
.S2i .ReceiptPage .Section .TotalsTable table td {
  text-align: right;
  width: 10%;
}
.S2i .ReceiptPage .Section caption {
  display: none;
}
.S2i .ReceiptPage .Section .BillingInfo {
  text-align: left;
}
.S2i .ReceiptPage .Section .BillingInfo .Label {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.S2i .ReceiptPage .Section .Notes .Instruction {
  text-decoration: underline;
}
.S2i .ReceiptPage .Section.Download {
  padding-right: 0.375em;
}
.S2i .ReceiptPage .Section.Download .Detail .Field button,
.S2i .ReceiptPage .Section.Download .Detail .Field input[type=button] {
  margin-right: 1.5em;
}
.S2i .ReceiptPage .Section.Download .Detail .Field button:last-of-type,
.S2i .ReceiptPage .Section.Download .Detail .Field input[type=button]:last-of-type {
  margin-right: 0;
}
.S2i .ReceiptPage .Section.Download .Detail .Note {
  margin-right: 0;
}
.S2i .ReceiptPage .Section.RefNum .Detail .Data {
  padding: 0.375em;
  margin-left: 0px;
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.S2i .ReceiptPage .Section.RefNum .Detail .Data:last-child {
  text-align: right;
}
.S2i .ReceiptPage .Section.RefNum .Detail .Data .Label {
  width: 50%;
}
.S2i .ReceiptPage .Section.Links .Links {
  list-style: none;
}
.S2i .ReceiptPage .Section.Links .Links li {
  display: block;
  text-align: center;
  margin-top: 1.125em;
}
.S2i .Width-150px {
  width: 150px;
}
.S2i .Width-300px {
  width: 300px;
}
.S2i .Hide {
  display: none !important;
}
.S2i .PlpGraphicSelector {
  text-align: justify;
  white-space: nowrap;
  overflow-x: auto;
}
.S2i .PlpGraphicSelector > div {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 0.375em;
  margin-right: 0.375em;
}
.S2i .PlpGraphicSelector > div label {
  width: 99% !important;
}
.S2i .PlpGraphicSelector > div a {
  padding-left: 0.375em;
}
.S2i .PlpGraphicSelector label {
  text-align: left !important;
  padding: 0.375em;
  white-space: normal;
  vertical-align: top !important;
}
.S2i .PlpGraphicSelector label.Selected {
  background-color: #f3f1f0;
  border: 0.375em solid #0b713d;
}
.S2i .PlpGraphicSelector label:empty {
  margin-right: 0 !important;
}
.S2i .PlpGraphicSelector input[type=radio] {
  /*
      position: absolute;
      width: 100px;
      left: -9999px;
      */
  float: left;
  margin: -44px;
  width: 1px !important;
  height: 1px !important;
}
.S2i .PlpGraphicSelector img {
  width: 100%;
}
.S2i .PlpGraphicSelectorCntr {
  position: relative;
}
.S2i .PlpGraphicSelectorCntr button {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
.S2i .PlpGraphicSelectorCntr button#moveLeft {
  left: 0;
  background: #dddddd url('../../images/arrow-left.gif') no-repeat center center;
}
.S2i .PlpGraphicSelectorCntr button#moveRight {
  right: 0;
  background: #dddddd url('../../images/arrow-right.gif') no-repeat center center;
}
.S2i .PlpGraphicSelectorCntr .PlpGraphicSelector {
  margin-left: 48px;
  margin-right: 48px;
}
.S2i .PlpEnlargeImageLink {
  display: block;
  text-align: center;
}
.S2i .PlpPlateSectionLabel {
  width: auto !important;
  padding-left: 0.375em;
  margin-right: 0px !important;
}
.S2i #divPlateNumberChoice div {
  display: inline;
}
.S2i #divAddressList label,
.S2i #divAddressList .Header {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  border: 0.1875em solid transparent;
}
.S2i #divAddressList label span,
.S2i #divAddressList .Header span {
  display: inline-block;
  padding: 0.1875em;
  vertical-align: middle;
}
.S2i #divAddressList label:nth-child(2n),
.S2i #divAddressList .Header:nth-child(2n) {
  background-color: #edebe9;
}
.S2i #divAddressList label.Selected,
.S2i #divAddressList .Header.Selected {
  border: 0.1875em solid #0b713d;
}
.S2i #divAddressList label .Header,
.S2i #divAddressList .Header .Header {
  width: auto;
  position: absolute;
  left: -9999px;
}
.S2i #divAddressList .Header {
  font-weight: bold;
}
.S2i #divAddressList .Column-1 {
  width: 6%;
  text-align: center;
}
.S2i #divAddressList .Column-2 {
  width: 18%;
}
.S2i #divAddressList .Column-3 {
  width: 16%;
}
.S2i #divAddressList .Column-4 {
  width: 26%;
}
.S2i #divAddressList .Column-5 {
  width: 16%;
}
.S2i #divAddressList .Column-6 {
  min-width: 5%;
}
.S2i .SocialMediaBox {
  border: 2px solid gray;
  margin-top: 2.37em;
}
.S2i .SocialMediaBox .buttonBox {
  width: 14%;
  margin-left: 43%;
  margin-right: 43%;
}
.S2i .SocialMediaBox .buttonBox .yesButton {
  display: block;
  float: left;
  height: 29px;
  background: transparent url('../../images/buttonGreen.gif') no-repeat 100% 0px;
  margin: 3px 10px 3px 5px;
  text-decoration: none;
  font-weight: bold;
  color: #006609;
}
.S2i .SocialMediaBox .buttonBox .yesButton span {
  display: inline;
  float: left;
  height: 29px;
  background: transparent url('../../images/buttonGreenLeft.gif') no-repeat 0px 0px;
  line-height: 29px;
  color: #fff;
  padding: 0px 40px;
}
.S2i .SocialMediaBox .buttonBox .noButton {
  font-weight: bold;
  color: #006609;
  text-decoration: underline;
  margin: 0px 0px 10px 0px;
  display: block;
  clear: both;
  padding-left: 2.6em;
  padding-top: 0.37em;
}
body {
  width: 980px;
  margin: 0px auto;
}
.S2i .Header .SkipToNav {
  right: 0;
}
.S2i .Header .Menu {
  display: block;
  padding-left: 0.375em;
  padding-right: 0.375em;
  color: #003359;
  background-color: #f9f8f8;
}
.S2i .Header .Menu a {
  background-color: transparent;
}
.S2i .Header .Menu li {
  display: block;
  position: relative;
  float: left;
  padding: 0.375em;
  padding-left: 1.125em;
  padding-right: 1.125em;
  background-color: #f9f8f8;
}
.S2i .Header .Menu li > ul {
  display: none;
}
.S2i .Header .Menu li:hover,
.S2i .Header .Menu li:focus,
.S2i .Header .Menu li.Active {
  background-color: #edebe9;
}
.S2i .Header .Menu li:hover > ul,
.S2i .Header .Menu li:focus > ul,
.S2i .Header .Menu li.Active > ul,
.S2i .Header .Menu li:hover > a:focus + ul,
.S2i .Header .Menu li:focus > a:focus + ul,
.S2i .Header .Menu li.Active > a:focus + ul {
  position: absolute;
  display: block;
  background-color: #edebe9;
  padding: 0;
  margin: 0;
  margin-left: -0.375em;
}
.S2i .Header .Menu li li {
  margin: 0;
  border: 1px solid #58595b;
  border-bottom: none;
  width: 100%;
  white-space: nowrap;
  padding: 0.75em;
  padding-left: 1.125em;
  padding-right: 0.375em;
  font-size: 0.9em;
}
.S2i .Header .Menu li li:last-child {
  border-bottom: 1px solid #58595b;
}
.S2i .Header .Menu > ul {
  display: block;
  list-style: none;
}
.S2i .Header .Menu > ul > li {
  display: inline-block;
  margin-right: 0.375em;
  padding: 0.375em;
  float: none;
}
.S2i .Header .InnerWidth .logoDiv {
  display: inline;
}
.S2i .Header .InnerWidth .logoDiv .logoLeft {
  float: right;
  padding-right: 0.32em;
}
.S2i .Header .InnerWidth .logoDiv .logoLeft img {
  width: 165px;
  height: 30px;
}
.S2i .Header .InnerWidth .logoDiv .logoLeft a {
  padding-right: 0px !important;
}
.S2i .Header .InnerWidth .logoDiv .logoRight {
  float: right;
  padding-left: 0.32em;
}
.S2i .Header .InnerWidth .logoDiv .logoRight img {
  width: 104px;
  height: 22px;
}
.S2i .Header .InnerWidth .logoDiv .logoRight a {
  padding-right: 0px !important;
}
.S2i .Footer .Menu {
  text-align: left;
}
.S2i .Footer .Menu li {
  width: 31%;
}
.S2i .Footer .Menu li:nth-child(3n+1) {
  text-align: left;
}
.S2i .Footer .Menu li:nth-child(3n+3) {
  text-align: right;
}
.S2i .Footer .Menu li:nth-child(3n+2):last-child {
  float: right;
}
.S2i .Footer .Menu li.queens-printer {
  width: auto;
  margin-right: 1.5em;
}
.S2i .Section .Detail a {
  font-size: inherit;
}
.S2i .Section .Detail .Field .InputSet {
  display: inline-block;
  width: auto;
  margin-left: 30%;
  max-width: 60%;
  white-space: nowrap;
}
.S2i .Section .Detail .Field .InputSet .Checkbox,
.S2i .Section .Detail .Field .InputSet .Radio {
  max-width: none;
  margin-left: 0;
  display: block;
}
.S2i .Section .Detail .Field .InputSet .Checkbox input,
.S2i .Section .Detail .Field .InputSet .Radio input {
  margin-left: -16px;
  margin-right: 0.375em;
}
.S2i .Section .Detail .Field .InputSet .Checkbox .Label,
.S2i .Section .Detail .Field .InputSet .Radio .Label {
  white-space: normal;
}
.S2i .Section .Detail .Field .InputSet .Error {
  margin-left: -0.28125em;
  padding-left: 0.28125em;
  width: auto;
}
.S2i .Section .Detail .Field .InputSet.Left {
  margin-left: 0.75em;
  max-width: 99%;
}
.S2i .Section .Detail .Field label.Radio input,
.S2i .Section .Detail .Field label.Checkbox input {
  vertical-align: baseline;
}
.S2i .Section .Detail .Field .Error {
  width: 41.5%;
}
.S2i .Section .Detail .Field.DLR .Error {
  width: 53%;
}
.S2i .Section .Detail .Field.Search .Error {
  width: 67.5%;
}
.S2i .Lightbox.Section .Inside {
  width: 75%;
  height: 80%;
  max-width: 735px;
  max-height: 80%;
}
.S2i .Lightbox.Section .Inside .Title {
  line-height: 1.2;
}
.S2i .Lightbox.Section .Inside .Detail {
  top: 3em;
}
.S2i .ListPage .Section {
  margin-left: 30%;
}
.S2i .FormPage .Section .Title {
  background: none;
  padding-right: 0;
}
.S2i .FormPage .Section .Title a {
  background: none;
  padding-right: 0;
}
.S2i .FormPage .Section .Title a:hover,
.S2i .FormPage .Section .Title afocus {
  text-decoration: none;
  cursor: text;
}
.S2i .FormPage .Section .Detail .Data .Label {
  width: 50%;
}
.S2i .FormPage .Section .EWHelp {
  right: 0;
}
.S2i .FormPage #renewalSurveyForm .Section .Title a {
  position: relative !important;
}
.S2i .SummaryPage.FormPage .Section {
  border: none;
}
.S2i .SummaryPage .BorderSection {
  padding: 0.1875em;
  margin: 1.37em;
  margin-bottom: 0.375em;
  border: 0.375em solid #f3f1f0;
}
.S2i .SummaryPage .BorderSection .Section .Detail .Data .Label {
  width: 40% !important;
}
.S2i .SummaryPage .BorderSection .Section .Detail .Data .Value {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  word-break: break-all;
}
.S2i .DownloadPage .Section.Download .Detail .Field {
  text-align: left;
  display: inline-block;
  width: 425px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.S2i .DownloadPage .Section.Download .Detail .Field .Label {
  white-space: normal;
  width: 35%;
}
.S2i .DownloadPage .Section.Download .Detail .Field .Error {
  margin-left: 0% !important;
}
.S2i .ReceiptPage .Section.Download .Detail .Field {
  text-align: left;
  display: inline-block;
  width: 49.5%;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.S2i .ReceiptPage .Section.Download .Detail .Field .Label {
  width: 35%;
}
.S2i .ReceiptPage .Section.Download .Detail .Field .Error {
  margin-left: 35%;
}
.S2i .ReceiptPage .BorderSection {
  padding: 0.1875em;
  margin: 0.75em;
  margin-bottom: 0.375em;
  border: 0.375em solid #f3f1f0;
}
.S2i .ReceiptPage .BorderSection .Detail {
  margin-left: 1.67em;
}
.S2i #divGraphic {
  margin-right: -70px;
}
.S2i #divGraphic .DLR .Error,
.S2i #divGraphic .Search .Error {
  width: 59%;
}
.S2i #divPlateNumberChoice div {
  display: inline-block;
  max-width: 20%;
  vertical-align: top;
}
.S2i #divPlateNumberChoice div.Label {
  vertical-align: baseline;
  padding-top: 0.825em;
}
.S2i #divPlateNumberChoice div input {
  width: 65%;
}
.S2i #divPlateNumberChoice div .Error {
  width: 100%;
  margin-bottom: 0.375em;
}
.S2i #divPlateNumberChoice .Error {
  margin-left: 0;
  padding: 0;
  margin-right: 0.75em;
  margin-left: 0.75em;
  width: 90%;
}
.S2i .Section.Invalid #divPlateNumberChoice .Label {
  vertical-align: top;
}
.S2i #divPostalCodeSearch button {
  font-size: inherit;
  font-weight: bold;
}
.S2i.locale_fr .Section .Detail .Field.Search button {
  margin-left: 31%;
  width: 42%;
}
.S2i.locale_fr .Navigation .Submit {
  width: 41.5%;
}
.S2i .wpthemeMainContent,
.S2i .Footer {
  border-left: 0.375em solid #edebe9;
  border-right: 0.375em solid #edebe9;
}
.S2i .ui-datepicker {
  left: 30% !important;
  margin-left: 0.9375em !important;
  z-index: 100 !important;
}


h1 {
  color: green;
}

